@page
@model IndexModel
@{
    ViewData["Title"] = "Stronga główna";
}

<body>
    <div class="main-content">
        <div class="container text-center mt-5">
            <h1 class="display-4">Witaj w Market Monitor</h1>
            <p class="lead">Market Monitor to innowacyjne narzędzie do monitorowania i porównywania cen produktów, stworzone specjalnie dla firmy TBCH sp. z o.o. przez Sebastiana Piątkowskiego.</p>
            <p class="description">Dzięki zaawansowanemu web scrapingowi aplikacja analizuje i porównuje ceny z ostatnich aktualizacji, pozwalając na bieżące śledzenie zmian rynkowych.</p>
        </div>
    </div>
</body>
